@font-face{
    font-family:"AvenirNextLTW01-Medium";
    src:url("http://info.xyleminc.com/rs/198-DLL-407/images/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix") format("eot");}
@font-face{
    font-family:"AvenirNextLTW01-Medium";
    src:url("http://info.xyleminc.com/rs/198-DLL-407/images/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix");
    src:url("http://info.xyleminc.com/rs/198-DLL-407/images/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("http://info.xyleminc.com/rs/198-DLL-407/images/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("http://info.xyleminc.com/rs/198-DLL-407/images/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
}
@font-face{
    font-family:"AvenirNextLTW01-Heavy";
    src:url("http://info.xyleminc.com/rs/198-DLL-407/images/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?iefix") format("eot");}
@font-face{
    font-family:"AvenirNextLTW01-Heavy";
    src:url("http://info.xyleminc.com/rs/198-DLL-407/images/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?iefix");
    src:url("http://info.xyleminc.com/rs/198-DLL-407/images/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),url("http://info.xyleminc.com/rs/198-DLL-407/images/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype"),url("http://info.xyleminc.com/rs/198-DLL-407/images/3c111f4f-c9f7-45d4-b35f-4f4ed018842f.svg#3c111f4f-c9f7-45d4-b35f-4f4ed018842f") format("svg");
}

//Page Specific Styles
$xylem-teal1: #30a6b9;
$xylem-teal2: #2cb2b8;
$xylem-blue: #0085ad;
$xylem-orange: #f37721;

// Bootstrap Overrides
$text-color: #73777c;
$link-color: $xylem-blue;
$link-hover-color: #49B995;
$link-hover-decoration: none;
$font-family-sans-serif: 'Avenir Next Regular','AvenirNextLTW01-Medium', Arial, sans-serif;
$line-height-base: 1.6;

$grid-columns: 24;
$grid-gutter-width: 10px;

// Font Awesome Font Location
$fa-font-path: "http://info.xyleminc.com/rs/198-DLL-407/images/";

@import "../bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../fontawesome/scss/font-awesome";
@import "../bootstrap-chosen/bootstrap-chosen";

.btn {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

.container{
	@media (max-width: $screen-sm-max){
		width: 95%;
	}
}

div#wave {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    
    height: 122px;
    width: 290px;
    background: url(http://info.xyleminc.com/rs/198-DLL-407/images/glp-mobile-navbar-wave.png) left top no-repeat;
    background-size: cover;
    
    
    @media (min-width: $screen-xs-max){
	    height: 122px;
	    width: 460px;
		background: url(http://info.xyleminc.com/rs/198-DLL-407/images/glp-tablet-navbar-wave.png) left top no-repeat;
		background-size: cover;
	}
    @media (min-width: $screen-sm-max){
	    height: 174px;
	    width: 315px;
	    background: url(http://info.xyleminc.com/rs/198-DLL-407/images/glp-desktop-navbar-wave.png) left -1px no-repeat;
	}
	
    
}

.navbar{
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-default{
	background-color: $xylem-teal1;
	border-color: transparent;
}
.navbar-header {
    height: 82px;
    
    .navbar-brand{
	    padding: 20px 0;
	
		img {
	    	width: 115px;
		}
	}
}

section#hero{
	background: url(http://info.xyleminc.com/rs/198-DLL-407/images/glp-hero-image.jpg) top center no-repeat;
	background-size: cover;
	height: 200px;
	
	@media (min-width: $screen-xs-max){
		height: 300px;
	}
	
	@media (min-width: $screen-sm-max){
		height: 375px;
		background-position: center center;
	}
	
	.container, .row{
		height: 100%;
	}
	
	#hero-text h2{
	    font-size: 50px;
	    line-height: 60px;
	    color: #fff;
	    font-weight: normal;
	    letter-spacing: -1px;
	    text-shadow: 2px 2px 10px rgba(0,0,0,0.75);
	    
	    @media (max-width: $screen-sm-max){
		    font-size: 40px;
		    line-height: 50px;
		}
	}	
}

section#main{
	padding: 30px 0;
	
	#hero-text h2{
		color: $xylem-blue;
		font-size: 40px;
		line-height: 50px;
		font-weight: normal;
		letter-spacing: normal;
		text-shadow: none;
		margin: 12px 0 22px;
	}
		

	
	#main-text{
		h3{
			color: $xylem-blue;
			font-size: 32px;
			font-weight: normal;	
			margin-bottom: 20px;
			
			@media (max-width: $screen-xs-max){
				font-size: 24px;
			}	
		}
		p{
			font-size: 18px;
			margin-bottom: 20px;
		}
		
		ul{
		    list-style: none;
		    padding:0;
		    margin-bottom: 20px;
		
			li { 
			    padding-left: 1em; 
			    text-indent: -1em;
			    margin-bottom: 5px;
			    font-size: 16px;
			    font-weight: bold;
	
				&:before {
				    content: "\f111";
				    font-family: FontAwesome;
				    color: $xylem-blue;
				    margin-right: 10px;
				    font-size: 7px;
				    vertical-align: 3px;
				}
			}
		}
	}
	
	#main-form{
		
		h3{
			color: $xylem-blue;
			font-size: 32px;
			font-weight: normal;	
			margin-bottom: 20px;
			
			@media (max-width: $screen-xs-max){
				font-size: 24px;
			}		
		}
		
		.xylem-button{
			border-radius: 500px;
			background: #f37721;
			color: #ffffff;
			margin: 0 10px;
			
			&:hover{
				background: darken(#f37721, 5%);
				box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
			}
			&:active{
				background: lighten(#f37721, 5%);
				box-shadow: inset 0px 3px 5px rgba(0,0,0,0.25);
				outline: none !important;
				-webkit-focus-ring-color: none;
			}
		}
		
	}
}
section#blue-highlight{
	background: $xylem-blue;
	color: #fff;
	padding: 30px 0;
	
	h3{
		font-size: 32px;
		font-weight: normal;	
		margin-bottom: 20px;
	}
	ul.list-inline{
		margin-bottom: 20px;
		
		li{
			font-size: 14px;
			font-weight: bold;
			margin-right: 20px;
			text-transform: uppercase;
			
			&:before{
				content: "\f05d";
				font-family: FontAwesome;
			    font-size: 28px;
			    font-weight: normal !important;
				color: #fff;
				margin-right: 10px;
				vertical-align: -5px;
			}
		}
	}
	
	p{
		font-size: 16px;
	}
	#blue-highlight-images{
		text-align: center;
		
		img{
			margin: 10px;
		}
		
	}
}

/* Helper Classes */
.vertical-align{
	@media (min-width: $screen-sm-min){
		display: flex;
		align-items: center;
	}
}

section#rentals{
	padding: 30px 0;
	
	.rentals-box{
		
		h3{
			color: $xylem-blue;
			font-size: 32px;
			font-weight: normal;	
			margin-bottom: 20px;
		}
		
		img{
			margin-bottom: 20px;
		}
		
		p, li{
			font-size: 16px;
		}
		ul li{
			margin-bottom: 10px;
		}
	}
}

section#rental-locations{
	padding: 30px 0;
	background: #f2f3f4;
	
	h3{
		color: $xylem-blue;
		font-size: 32px;
		font-weight: normal;	
		margin-bottom: 20px;
	}
	p{
		font-size: 16px;
		
		&.emphasis{
			color: $xylem-blue;
			font-weight: bold;
		}
	}
	
	#rental-badge img{
		@media (max-width: $screen-xs-max){
			max-width: 250px;
			margin: 20px auto;
		}
	}
			
}
footer{
	padding: 15px 0;
	background: $xylem-teal2;
	color: #fff;
	
	p{
		margin-bottom: 0;
	}
	
	#social-icons{
		text-align: right;
		
		@media (max-width: $screen-xs-max){
			text-align: left;
			margin-top: 10px;
		}
		
		a img{
			display: inline-block;
			margin: 0 4px
		}
	}
	
}


/* Marketo Form Error Code - lifted from forms2.css */
.mktoError {
  position: absolute;
  z-index: 99;
  color: #bf0000; }

.mktoError .mktoErrorArrowWrap {
  width: 16px;
  height: 8px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 100; }

.mktoError .mktoErrorArrow {
  background-color: #e51b00;
  border: 1px solid #9f1300;
  border-right: none;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  width: 16px;
  margin-top: 5px; }

/** These two styles are for browsers that don't support css transforms */
.mktoError .mktoErrorArrowWrap.mktoArrowImage {
  background: transparent url("../images/callout-arrow-up-red.png") top center no-repeat;
  bottom: -7px; }

.mktoError .mktoErrorArrowWrap.mktoArrowImage .mktoErrorArrow {
  display: none; }

.mktoError .mktoErrorMsg {
  display: block;
  margin-top: 7px;
  background-color: #e51b00;
  background-image: -webkit-linear-gradient(#e51b00 43%, #ba1600 100%);
  background-image: linear-gradient(#e51b00 43%, #ba1600 100%);
  background-image: -ms-linear-gradient(#e51b00 43%, #ba1600 100%);
  border: 1px solid #9f1300;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px;
  color: #f3f3f3;
  font-size: 1em;
  line-height: 1.2em;
  max-width: 16em;
  padding: 0.4em 0.6em;
  text-shadow: #901100 0 -1px 0; }

.mktoError .mktoErrorMsg .mktoErrorDetail {
  display: block; }